@import "@fontsource/kanit"; /* Default Kanit font */
@import "@fontsource/kanit/300.css"; /* Light weight */
@import "@fontsource/kanit/400.css"; /* Regular weight */
@import "@fontsource/kanit/700.css"; /* Bold weight */

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --primary: #9F9260;
  --secondary: #FFF4D2;
  --accent: #505631;
  --neutral: #393939;
  --muted: #E5E2D9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #9F9260;
    --secondary: #171717;
    --accent: #505631;
    --neutral: #ededed;
    --muted: #303030;
  }
}

/* Base styles */
body {
  @apply bg-secondary text-neutral;
  font-family: 'Kanit', sans-serif; /* Apply Kanit globally */
  font-weight: 400;
}

button {
  @apply rounded-md text-center;
  font-family: 'Kanit', sans-serif; /* Ensure buttons use Kanit */
}

button.primary {
  @apply bg-primary text-secondary;
}

button.secondary {
  @apply bg-accent text-secondary;
}

button.neutral {
  @apply bg-neutral text-secondary;
}

.loading {
  @apply flex items-center justify-center w-12 h-12 rounded-full;
}

.loading.primary {
  @apply bg-primary text-secondary;
}

.loading.secondary {
  @apply bg-accent text-secondary;
}

.loading.muted {
  @apply bg-muted text-neutral;
}
